<template>
  <ValidationObserver ref="form" v-slot="{ handleSubmit }">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <input type="hidden" name="_token" :value="csrf_token" />
      <div class="row top-buffer-20">
        <!-- <div :class="{ 'form-group': true, 'has-error': errors.has('email') }"> -->
        <ValidationProvider
          name="email"
          rules="required|email"
          immediate
          v-slot="{ errors }"
        >
          <div :class="{ 'form-group': true }">
            <label for="email" class="col-md-4 control-label">
              E-Mail Address
            </label>
            <div class="col-md-6">
              <input
                id="email"
                type="email"
                class="form-control"
                v-model="email"
                autofocus
              />
              <span class="help-block" id="email-error">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
          </div>
        </ValidationProvider>
      </div>
      <!-- /.row -->
      <div class="row top-buffer-20">
        <!-- <div :class="{ 'form-group': true,'has-error': errors.has('password') }"> -->
        <ValidationProvider
          name="password"
          rules="required"
          immediate
          v-slot="{ errors }"
        >
          <div :class="{ 'form-group': true }">
            <label for="password" class="col-md-4 control-label"
              >Password</label
            >
            <div class="col-md-6">
              <input
                id="password"
                type="password"
                class="form-control"
                name="password"
              />
              <span class="help-block" id="password-error">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
          </div>
        </ValidationProvider>
      </div>
      <!-- /.row -->
      <div class="form-group top-buffer-10">
        <div class="col-md-6 col-md-offset-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="remember" /> Remember Me
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
          <button type="submit" class="btn btn-primary">Login</button>

          <a class="btn btn-link" :href="forgot_password">
            Forgot Your Password?
          </a>
        </div>
      </div>
    </form>
  </ValidationObserver>
</template>

<script>
// extend("required", {
//   ...required,
//   message: "This field must be a valid email",
//   validate(value) {
//     return {
//       required: true,
//       valid: ["", null, undefined].indexOf(value) === -1,
//     };
//   },
//   //   computesRequired: true,
// });

// // Add the email rule
// extend("email", {
//   ...email,
//   message: "This field must be a valid email",
//   //   validate(password, "required", {
//   //           name: "Password",
//   //           values: {
//   //             confirmation,
//   //           },
//   //         }).then((result) => {
//   //           if (result.valid) {
//   //             event.target.submit();
//   //           }
//   //         });
// });
export default {
  components: {},
  props: ["csrf_token", "post_address", "forgot_password"],
  data() {
    return {
      email: "",
    };
  },

  methods: {
    onSubmit() {
      alert(" Form has been submitted!");
    },
    beforeSubmit(event) {
      let self = this;
      //   validate(password, "required", {
      //     name: "Password",
      //     values: {
      //       confirmation,
      //     },
      //   }).then((result) => {
      //     if (result.valid) {
      //       event.target.submit();
      //     }
      //   });
      //   validate().then(function () {
      //     if (result.valid) {
      //       event.target.submit();
      //     }
      //   });
    },
  },
};
</script>
