<template>
  <ValidationObserver ref="form" v-slot="{ handleSubmit }">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <input
        type="hidden"
        name="_token"
        :value="csrf_token"
        @submit.prevent="create"
      />
      <div class="row">
        <div class="col-sm-6">
          <ValidationProvider
            name="First Name"
            rules="required|alpha"
            immediate
            v-slot="{ errors }"
          >
            <div class="form-group">
              <label lass="control-label">First Name</label>
              <input
                id="first_name"
                type="text"
                class="form-control"
                v-model="register.first_name"
                autofocus
              />

              <span class="text-danger" id="first-name-error">
                {{ errors[0] }}
              </span>
            </div>
          </ValidationProvider>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ValidationProvider
            name="Last Name"
            rules="required|alpha"
            immediate
            v-slot="{ errors }"
          >
            <div class="form-group">
              <label class="control-label">Last Name</label>

              <input
                id="last_name"
                type="text"
                class="form-control"
                v-model="register.last_name"
              />
              <span class="text-danger" id="last-name-error">
                {{ errors[0] }}
              </span>
            </div>
          </ValidationProvider>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <!-- /.col -->
        <div class="col-sm-6">
          <ValidationProvider
            name="E-mail"
            rules="required|email|unique-email"
            immediate
            v-slot="{ errors }"
          >
            <div class="form-group">
              <label class="control-label">E-Mail Address</label>
              <input
                id="email"
                type="email"
                name="email"
                class="form-control"
                v-model="register.email"
              />
              <span class="text-danger" id="email-error">{{ errors[0] }} </span>
            </div>
          </ValidationProvider>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-sm-6">
          <ValidationProvider
            name="Password"
            rules="required|min:6|confirmed:confirm"
            immediate
            v-slot="{ errors }"
          >
            <div class="form-group">
              <label for="password" class="control-label">Password</label>
              <input
                id="password"
                type="password"
                class="form-control"
                v-model="register.password"
              />
              <span class="text-danger" id="password-error">
                {{ errors[0] }}
              </span>
            </div>
          </ValidationProvider>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ValidationProvider
            name="confirm"
            vid="confirm"
            rules="required"
            immediate
            v-slot="{ errors }"
          >
            <div class="form-group">
              <label class="control-label">Confirm Password</label>
              <input
                id="password-confirm"
                type="password"
                class="form-control"
                v-model="password_confirmation"
              />
              <span class="text-danger" id="confirm-password-error">
                {{ errors[0] }}
              </span>
            </div>
          </ValidationProvider>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </div>
      <!-- form-group -->
    </form>
  </ValidationObserver>
</template>


<script>
import { extend } from "vee-validate";

extend("unique-email", {
  validate: (value) => {
    return axios
      .post(window.Laravel.urls.user_email_url, {
        email: value,
      })
      .then(function (response) {
        console.log(response.data);
        return { valid: response.data["email"] };
      })
      .catch(function (error) {
        console.log(error);
      });
  },
  message: "This email address is already registered.",
});

extend("password", {
  params: ["target"],
  validate(value, { target }) {
    return value === target;
  },
  message: "Password confirmation does not match",
});
export default {
  components: {},
  props: ["csrf_token", "post_address"],
  data() {
    return {
      register: {
        first_name: null,
        last_name: null,
        email: null,
        password: null,
      },
      password_confirmation: null,
    };
  },

  methods: {
    onSubmit() {
      const userdata = {
        first_name: this.register.first_name,
        last_name: this.register.last_name,
        email: this.register.email,
        password: this.register.password,
      };
      this.$refs.form.validate().then((success) => {
        if (success) {
          axios
            .post("/register", userdata)
            .then((response) => {
              console.log(response);
              alert("Form has been submitted!");
            })
            .catch((error) => {
              console.log(userdata);
              console.log(error);
            });
          //   event.target.submit();
          //   return;
        }

        // Resetting Values
        this.register.first_name = this.register.last_name = this.register.email = this.register.password = this.password_confirmation =
          "";

        // Wait until the models are updated in the UI
        this.$nextTick(() => {
          this.$refs.form.reset();
        });
      });
    },
  },
};
</script>
